{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/cliente_transaccion.css' %}">
    <title>Consultar transacción</title>
    <link rel="icon" href="imgs/logo-solo.ico">
</head>

<body>

    <header>
        <picture></picture>
        <span class="span-inicio span-header">CONSULTA TRANSACCIÓN</span>
        <span class="span-cliente span-header">Cliente</span>
        <picture></picture>
    </header>

    <nav>
        <a href="{% url 'InicioCliente' %}" class="ancle-inicio"></a>
        <a href="{% url 'EnviarDinero' %}" class="ancle-enviar_dinero"></a>
        <a href="{% url 'ConsultarListaTransacciones' %}" class="ancle-consulta_lista_transacciones"></a>
        <a href="{% url 'ClienteTransaccion' %}" class="ancle-consulta_transaccion"></a>
        <a href="{% url 'EliminarDestinatario' %}" class="ancle-eliminar_destinatario"></a>
        <a href="{% url 'AgregarDestinatario' %}" class ="ancle-agregar_destinatario"></a>
        <a href="{% url 'AgregarDinero' %}" class="ancle-agregar_dinero"></a>
    </nav>

    <main>
        <p class="p_transaccion">Transacción</p>

        <section>
            <span>Fecha:</span>
            <p>22/06/2022</p>

            <span>Tipo:</span>
            <p>Recepción</p>

            <span>Tarifa de envío:</span>
            <p>1%</p>

            <span>Cliente:</span>
            <p>Daniel Pérez - danielcicua@gmail.com</p>

            <span>Destinatario:</span>
            <p>Valeria Tavera - valetavera@gmail.com</p>

            <span>Monto en moneda destinatario:</span>
            <p>289425</p>

            <span>Monto en moneda local:</span>
            <p>524</p>
        </section>
    </main>

</body>

</html>