{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/enviar_dinero.css' %}">
    <title>Enviar dinero</title>
    <link rel="icon" href="{% static 'imgs/logo-solo.ico' %}">
</head>

<body>
    <header>
        <picture></picture>
        <span class="span-inicio span-header">ENVIAR DINERO</span>
        <span class="span-cliente span-header">Cliente</span>
        <picture></picture>
    </header>

    <nav>
        <a href="{% url 'InicioCliente' %}" class="ancle-inicio"></a>
        <a href="{% url 'EnviarDinero' %}" class="ancle-enviar_dinero"></a>
        <a href="{% url 'ConsultarListaTransacciones' %}" class="ancle-consulta_lista_transacciones"></a>
        <a href="{% url 'ClienteTransaccion' %}" class="ancle-consulta_transaccion"></a>
        <a href="{% url 'EliminarDestinatario' %}" class="ancle-eliminar_destinatario"></a>
        <a href="{% url 'AgregarDestinatario' %}" class="ancle-agregar_destinatario"></a>
        <a href="{% url 'AgregarDinero' %}" class="ancle-agregar_dinero"></a>
    </nav>

    <main>
        <section>
            <p>Enviar dinero</p>
            <form action="{% url 'EnviarDinero' %}" method="post">
                {% csrf_token %}
                <label for="email" class="label-izquierda label-destinatario">Destinatario</label>
                <input list="destinatarios" id="email" class="input-izquierda" name="email" required>
                <datalist id="destinatarios">
                    {% for x in destinatarios %}
                    <option value="{{x.email}}">{{x.email}}</option>
                    {% endfor %}
                </datalist>

                <label for="monto_local" class="label-centro label-monto_local">Monto moneda local</label>
                <input type="number" id="monto_local" name="monto" class="input-centro" placeholder="527800" required>

                <label for="fecha" class="label-derecha label-fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" class="input-derecha" placeholder="Bogotá" required>

               

                <button type="submit">
                    Continuar
                </button>

            </form>

        </section>



    </main>


</body>

</html>