{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/inicio_cliente.css' %}">
    <title>Inicio</title>
    <link rel="icon" href="{% static 'imgs/logo-solo.ico' %}">
</head>

<body>
    <header>
        <picture></picture>
        <span class="span-inicio">INICIO</span>
        <span class="span-cliente">Cliente</span>
        <picture></picture>
    </header>

    <nav>
        <a href="{% url 'InicioCliente' %}" class="ancle-inicio"></a>
        <a href="{% url 'EnviarDinero' %}" class="ancle-enviar_dinero"></a>
        <a href="{% url 'ConsultarListaTransacciones' %}" class="ancle-consulta_lista_transacciones"></a>
        <a href="{% url 'ClienteTransaccion' %}" class="ancle-consulta_transaccion"></a>
        <a href="{% url 'EliminarDestinatario' %}" class="ancle-eliminar_destinatario"></a>
        <a href="{% url 'AgregarDestinatario' %}" class ="ancle-agregar_destinatario"></a>
        <a href="{% url 'AgregarDinero' %}" class="ancle-agregar_dinero"></a>
    </nav>

    <main>
        <section class="section-transacciones">
            <p class="p-transacciones">Transacciones recientes</p>
        </section>
        <section class="section-mensajes section-derecha">
            <p class="p-mensajes">Mensajes</p>
            <span class="span-numero">5</span>
        </section>
        <section class="section-saldo section-derecha">
            <p class="p-mensajes">Saldo</p>
            <br><br><br><br><br><br><br>
            <p class="p-mensajes">{{user_data.dinero}}</p>
            <a href="{% url 'CerrarSesion' %} "  class="ancle1">CerrarSesion</a>
        </section>

    </main>


</body>

</html>